*{
    margin: 0px;
}
.wrapper {
    padding: 30px;
    background-color: gray;
    margin-top: 20px;
}
.baris-1 {
    background-color: brown;
    padding: 50px;
}
.baris-2 {
    background-color: aqua;
    display: flex;
    gap: 10px;
}
img {
    width: 100px;
}
.baris-3 {
    background-color: blue;
    margin-top: 20px;
    padding: 50px;
}
.baris-4 {
    background-color: yellow;
    margin-top: 20px;
    padding: 50px;
}
.baris-5 {
    background-color: red;
    margin-top: 20px;
    padding: 50px;
}

.baris-2-kolom-1,
.baris-2-kolom-2,
.baris-2-kolom-3,
.baris-2-kolom-4,
.baris-2-kolom-5 {
    height: 20px;
    width: 300%;
}
.baris-2-kolom-1 {
    background-color: blue;
}
.baris-2-kolom-2 {
    background-color: brown;
}
.baris-2-kolom-3 {
    background-color: aqua;
}
.baris-2-kolom-4 {
    background-color: red;
}
.baris-2-kolom-5 {
    background-color: blueviolet;
}